*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(71, 40, 207);

}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(71, 40, 207);
}

img{
    width: 23rem;
}

figure{
    margin: 1rem;
}

figcaption{
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}