*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../images/noisy-texture-100x300-o40-d19-c-162a7a-t0.png");
    font-family: "Share Tech Mono", serif;
}

h1{
    color: white;
    text-align: center;
    margin: 3rem;
    font-size: 5rem;
    text-shadow: 3px 3px 5px black;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(71, 40, 207);
}

figure img{
    width: 23rem;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 30px rgb(0, 0, 0));
}

figure{
    margin: 1rem;
}

figure img:hover {
    filter: drop-shadow(0 0 30px rgb(255, 255, 255));
}

figcaption{
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(64, 36, 192, 0.8);
    border-radius: 1rem;
}

 .modal-background {
     background-color: black;
     border-radius: 2rem;
 }

 .box {
    background-color: bisque;
    font-size: xx-large;
    text-align: center;
}

 .movieInfo {
     color: white;
     background-color: black;
     font-size: x-large;
 }