:root {
    --main-blue: #45567d;
    --main-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    color: black;
}

a{
    text-decoration: none;
    color: var(--main-white);
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-blue);
    position: fixed;
    width: 100%;
}

.nav-list a {
    display: block;
    color: white;
    padding: 1.5rem;
}

.nav-list a:hover {
    background-color: blue;
}

#navbar ul{
    display: flex;
    list-style-type: none;
}

#welcome-section {
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 56px;
}

figure {
    margin: 2rem;
}

#contact{
    background-color: blueviolet;
}

@media (max-width:75em) {
    html{
        font-size: 60%;
    }
}

@media (max-width:60em) {
    html{
        font-size: 40%;
    }
}