* {
    margin: 0;
    box-sizing: border-box;
}

.head {
    background: url("../images/pokeHeader.png") center;
    background-color: #ffe70e;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 30vh;
}

body {
    background: url("../images/pokeBallnCards.jpeg") center;
    background-color: #ffe70e;
    background-repeat: no-repeat;
    background-size: cover;
}

.head img {
    object-fit: cover;
}
/*
add styling for buttons
make background cute pokemon themed
add more buttons through js
fix senators glitch
do styling for other pages
*/

/*
Thor's Reccomendations:
- make card background reflect type of pokemon it is
- add more info to the back of the card
*/

.head h1 {
    text-align: center;
    font-size: 6vw;
    text-shadow: #000000b4; /* not working? */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000a6;
    padding-top: 4rem;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scene{
    width: 200px;
    height: 260px;
    margin: .5em;
    perspective: 600px;
}

.card{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.cardFace{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    padding: 0.5rem;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.5);
}

/* trying to make hover 
.card :hover {
    border-radius: 15px;
    padding: 0.5rem;
    box-shadow: 4px 4px 4px 3px rgba(252, 198, 21, 0.5);
}
*/

.card.is-flipped {
    transform: rotateY(180deg);
  }

.front {
    background-color: aqua;
}

.back {
    background: #7979d1;
    transform: rotateY(180deg);
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

figure img{
    width: 200px;
    height: 200px;
}

figcaption {
    text-align: center;
    text-transform: capitalize;
}

ul {
    list-style-type: '- ';
}