*{
    font-family: "Share Tech Mono", serif;
}


/*
START of code for animated background
YouTube link for tuorial I used: https://www.youtube.com/watch?v=0t6Dmp70kTw
*/
.websiteInfo {
    background: -webkit-linear-gradient(#fff, #333);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    z-index: 5;
}


@keyframes move-clouds-back {
    from {background-position: 0 0;}
    to {background-position: 10000px 0}
}

@keyframes move-twinkle-back {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px}
}

.stars, .twinkling, .clouds {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: block;
    background-size: cover;
}

.head img {
    object-fit: cover;
  }

.stars {
    background: #000 url('../images/stars.png') repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(../images/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twinkle-back 200s linear infinite;
}

.clouds {
    background: transparent url(../images/clouds.png) repeat top center;
    z-index: 2;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
}

/* END of code for animation*/

h1 {
    color: white;
    font-weight: bold;
    padding: 2rem;
}

header {
    font-size: xx-large;
    color: white;
    text-align: center;
    /* background-color: #222222; */
}

/* body {
    background-color: #222222;
} */

.mainContainer {
    display: flex;
}

.shipViewer {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.shipViewer img {
    border: 5px solid white;
    border-radius: 25px;
    border-width: 10px;
    box-shadow: 5px 5px 15px black;
}

.shipViewer figure {
    margin: 5rem;
}

.shipViewer figcaption {
    text-align: center;
    color: white;
    font-size: medium;
}

.box {
    background-color: bisque;
    font-size: xx-large;
    text-align: center;
}

/* .modal-background {
    background-color: #333;
} */

.nav {
    min-width: 10rem;
    font-size: small;
}

ul {
    margin: 1rem;
    list-style-type: none;
    }

a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}