h1 {
    color: white;
    font-weight: bold;
}

body{
    background-color: #222222
}

header {
    font-size: xx-large;
    color: white;
    text-align: center;
}

.mainContainer {
    display: flex;
}

.shipViewer {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.shipViewer img {
    border: 5px solid white;
    border-radius: 25px;
    border-width: 10px;
}

.shipViewer figure {
    margin: 5rem;
}

.shipViewer figcaption {
    text-align: center;
    color: white;
    font-size: medium;
}

.box {
    background-color: bisque;
    font-size: xx-large;
    text-align: center;
}

/* .modal-background {
    background-color: #333;
} */

.nav {
    min-width: 16rem;
}

ul {
    margin: 1rem;
    list-style-type: none;
    }

a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}