*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../images/noisy-texture-100x300-o40-d19-c-162a7a-t0.png);
    font-family: "Share Tech Mono", serif;
}

header h1{
    text-align: center;
    color: white;
    margin: 2rem;
    text-shadow: 3px 3px 5px black;;
}

header div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure{
    margin: .5rem;
}

figure img {
    max-height: 20rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

figcaption{
    text-align: center;
    color: aliceblue;
    font-size: large;
    margin: .5rem;
}

button {
    width: 13rem;
    height: 3rem;
    margin: 1rem;
    background:rgba(252, 27, 72, 0.76);
    color: white;
    font-size: large;
}

button:hover {
    background: rgba(252, 27, 72, 0.4);
}