* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Varela Round", serif;
}

body {
  background: linear-gradient(to right, #9e0000, #000281);
}

h1 {
  color: black;
  text-shadow: 2px 2px 8px#ffffff;
  font-size: 3rem;
  text-align: center;
}

div.headpic {
  background: url("../images/senatorsImg.jpeg") center;
  width: 50rem;
  height: 20rem;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.centerhead {
  display: flex;
  justify-content: space-around;
}

.senatorsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
  padding: 2rem;
}

h3 {
  padding: 1.5rem;
}

figcaption {
  text-align: center;
  padding-bottom: 1rem;
}
